<%= form_with model: @post do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title, placeholder: "Post title" %>
    </div>
    
    <div>
         <%= form.label :body, "Content" %>
         <%= form.text_area :body, placeholder: "Post body" %>
    </div>
   
    <div>
        <%= form.submit %>
    </div>

    <% if flash[:success] %>
        <div>
            <%= flash[:success] %>
        </div>
    <% end %>

    <% if flash[:error] %>
        <div>
            <%= flash[:error] %>
        </div>
        <ul>
            <% @post.errors.full_messages.each do |error| %>
                <li> <%= error %> </li>
            <% end %>
        </ul>
    <% end %>
<% end %>